header {
    background-color: grey;
}

body {
    width: 60%;
   margin-bottom: 25%;
    border: 1px solid black;
}

table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

th, td {
    padding: 5px;
}

thead {
    border-bottom: 1px solid black;
    font-weight: normal;
}
td{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

tr {
    border-right: 1px solid black;
}
/* tr:last-child td {
    border-bottom: 0px;
} */

th:last-child td {
    border-right: 0xp;
}